*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .logo img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 25px;
  }
  header{
    text-align: center;
    background-color: #1a3648;
    padding: 5px;
    border-radius: 10px;
  }
  h1{
    color: #cc9952;
  }
  body{
    font-family: fantasy;
    font-size: 120%;
    background-color: rgb(93, 110, 131);
  }
  .container{
    padding: 1em;
    margin: 0 auto;
  }
  .team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .miembro{
    background-color: #1a3648;
    color: #c9c6c2;
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 0.5em 1em;
    padding: 0.2em;
    border-radius: 25px;
    box-shadow: #cc9952 12px 8px;
  }
  .foto{
  border-radius: 35%;
  overflow: hidden;
  padding: 0.2em;
  }
  .miembro img{
    width: 200px;
    height: 280px;
  }
  .profes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }