*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  .logo img{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 25px;
  }
  :hover.logo{
.rotate-center{animation:rotate-center 1s} @keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
  }
  header{
    text-align: center;
    background-color: #293949;
    padding: 5px;
    border-radius: 10px;
  }
  h1{
    color: #cc9952;
    text-shadow: grey 4px 2px;
  }
  body{
    font-family: fantasy;
    font-size: 120%;
    background: rgb(93,110,131);
    background: linear-gradient(69deg, rgba(93,110,131,1) 35%, rgba(204,153,82,1) 100%);
  }
  .container{
    padding: 1em;
    margin: 0 auto;
  }
  .team{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .miembro{
    background-color: #293949;
    color: #c9c6c2;
    width: 250px;
    height: 350px;
    text-align: center;
    margin: 0.5em 1em;
    padding: 0.2em;
    border-radius: 25px;
    box-shadow: #cc9952 12px 8px;
  }
  .foto{
  border-radius: 30%;
  overflow: hidden;
  padding: 0.2em;
  filter: grayscale();
  }
  :hover.foto{
    transform: scale(1.1);
    transition: transform 1s;
    filter: grayscale(0);
  }
  .miembro img{
    width: 200px;
    height: 280px;
  }
  .profes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .cargo{
    font-size: 80%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #cc9952;
  }